appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==3.0.2
certifi==2018.8.24
chardet==3.0.4
click==6.7
conda==4.3.16
cssselect==1.0.3
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
en-core-web-lg==2.0.0
entrypoints==0.2.3
ez-setup==0.9
feedfinder2==0.0.4
feedparser==5.2.1
Flask==1.0.2
gunicorn==19.9.0
idna==2.7
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.13.1
jieba3k==0.35.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
livelossplot==0.2.0
lxml==4.2.5
MarkupSafe==1.0
matplotlib==3.0.1
mistune==0.8.4
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nbconvert==5.4.0
nbformat==4.4.0
newspaper3k==0.2.8
nltk==3.3
notebook==5.7.0
numpy==1.15.4
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
plac==0.9.6
preshed==2.0.1
prometheus-client==0.4.2
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pycosat==0.6.3
Pygments==2.2.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
pyzmq==17.1.2
regex==2018.1.10
requests==2.19.1
requests-file==1.4.3
ruamel.yaml==0.15.77
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
six==1.11.0
skorch==0.4.0
spacy==2.0.16
tabulate==0.8.2
terminado==0.8.1
testpath==0.4.2
thinc==6.12.0
tinysegmenter==0.3
tldextract==2.2.0
toolz==0.9.0
torch==0.4.1
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
ujson==1.35
urllib3==1.23
waitress==1.1.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.10.11
xgboost==0.81
